:root {
    --dm-sans: "DM Sans", sans-serif;
    --latin: "Dancing Script", cursive;
    --latin--2:"Sacramento", cursive;
    --orange: #fd7600;
    --popins:"Poppins", sans-serif;
    --lato:"Lato", sans-serif;
    --pacifico:"Pacifico", cursive;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    position: relative;
}

.header p {
    margin-right: 4%;
    color: black;
    font-size: 1.6rem;
    font-family: var(--latin);
}

.header .a-header {
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-family: var(--dm-sans);
    margin: 2%;
    text-shadow: .2px .2px 5px black;
    position: relative;
}

.header .a-header::before {
    content: '';
    width: 100%;
    height: 1.7px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: .6s;
    transform: scale(0);
}

.header .a-header:hover::before {
    transform: scale(1);
}

.header img {
    width: 1.7%;
    cursor: pointer;
}


/* section 1 */
.section-1 {
    background-image: url('foto-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 125vh;
    margin-top: -13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    overflow: hidden;
}

.section-1 .h1-section-1 {
    color: white;
    font-family: var(--latin--2);
    font-size: 4.5rem;
    font-style: italic;
    letter-spacing: 5px;
    text-shadow: 1px 5px 5px black;
}

.section-1 .h3-section-1 {
    color: white;
    font-family: var(--dm-sans);
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    text-shadow: 1px 1px 5px black;
}

.section-1 .h3-section-1::before {
    content: '';
    width: 100%;
    height: 1.2px;
    background-color: white;
    bottom: 0;
    position: absolute;
}

.section-1 img {
    width: 30%;
}

.section-1 .bunga-bawah {
    margin-top: -3%;
}

/* section 2 */
.section-2 {
    width: 100%;
    height: 120vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: start;
}

.section-2 .content-section-2 {
    width: 75%;
    height: 30%;
    background-color: whitesmoke;
    z-index: 2;
    margin-top: -4%;
    border-top: 3px solid rgb(255, 132, 9);
    position: relative;
    /* box-shadow: -10px 0 15px -5px rgba(0,0,0,0.5), 10px 0 15px -5px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 .content-section-2::before {
    content: '';
    width: 15%;
    height: .8px;
    background-color: rgb(255, 132, 9);
    position: absolute;
    transform: rotate(90deg);
    left: -7.5%;
    bottom: 63.5%;
}

.section-2 .content-section-2::after {
    content: '';
    width: 15%;
    height: .8px;
    background-color: rgb(255, 132, 9);
    position: absolute;
    transform: rotate(90deg);
    right: -7.5%;
    bottom: 63.5%;
}

/* content section 2 */
.section-2 .container-title-section-2 {
    margin-top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .container-title-section-2 h3 {
    font-family: var(--latin);
    font-size: 2rem;
    position: relative;
    font-style: italic;
    color: rgb(119, 129, 92);
}

.section-2 .container-title-section-2 h3::before {
    content: 'wwwwwwwwwwwwwwwwwwwwwwwwwwww';
    width: 300%;
    position: absolute;
    left: -300%;
    bottom: 20%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.section-2 .container-title-section-2 h3::after {
    content: 'wwwwwwwwwwwwwwwwwwwwwwwwwww';
    width: 300%;
    position: absolute;
    right: -320%;
    bottom: 20%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}


.section-2 .container-bingkai-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-2 .container-bingkai-section-2 .bingkai-1 img {
    width: 70%;
    position: relative;
    z-index: 3;
}

.section-2 .container-bingkai-section-2 .bingkai-1 .foto-bingkai-1 {
    background-image: url('asya-2.jpg');
    background-position: 40%;
    background-size: cover;
    border-radius: 50%;
    width: 54%;
    height: 54%;
    position: absolute;
    background-color: black;
    z-index: 1;
}

.section-2 .container-bingkai-section-2 .bingkai-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .container-bingkai-section-2 .bingkai-2 img {
    width: 70%;
    position: relative;
    z-index: 3;
}

.section-2 .container-bingkai-section-2 .bingkai-2 .foto-bingkai-2 {
    background-image: url('iam-2.jpg');
    background-position: 40%;
    background-size: cover;
    border-radius: 50%;
    width: 54%;
    height: 54%;
    position: absolute;
    z-index: 1;
}

.section-2 .container-bingkai-section-2 .bingkai-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




.section-2 .container-bingkai-section-2 img{
    width: 8%;
    transform: rotate(-20deg);
}

.container-text-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
    margin-right: 6%;
    gap: 10%;
    padding-left: 10%;
    padding-right: 4%;
}

.container-text-section-2 .text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(119, 129, 92);
    border-radius: 1%;
}



.container-text-section-2 .text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(119, 129, 92);
    border-radius: 1%;

    
}

.container-text-section-2 .text-2 h3,
.container-text-section-2 .text-1 h3 {
    font-family: var(--latin);
    font-size: 2rem;
    margin-bottom: 3%;
    margin-top: 3%;
    color: rgb(119, 129, 92);
}

.container-text-section-2 .text-2 p,
.container-text-section-2 .text-1 p {
    text-align: center;
    font-family: var(--latin);
    padding-left: 3%;
    padding-right: 3%;
    /* padding-bottom: 10%; */
}

.content-section-2 .a-section-2 {
    color: #fffbe7;
    margin-top: 4%;
    padding: 1.3%;
    border-radius: 100px;
    font-family: var(--dm-sans);
    font-size: .8rem;
    background-color: rgb(119, 129, 92);
    transition: .3s;
}

.content-section-2 .a-section-2:hover {
    transform: scale(1.1);
}
/* icon section 2 */
.container-text-section-2 .text-1 .icon-text-1,
.container-text-section-2 .text-2 .icon-text-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.container-text-section-2 .text-1 .icon-text-1 a,
.container-text-section-2 .text-2 .icon-text-2 a {
    width: 4.5%;
    padding: 2%;
    transition: .3s;
}
.container-text-section-2 .text-1 .icon-text-1 a:hover,
.container-text-section-2 .text-2 .icon-text-2 a:hover {
    transform: translateY(-10%);
}

/* section 3 */
.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
}

.section-3 .title-section-3 {
    background-color: rgb(119, 129, 92);
    border: 4px solid white;
    padding: 4%;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.section-3 .title-section-3 h3 {
    font-family: var(--latin);
    font-size: 2.4rem;
    position: absolute;
    top: 20%;
    left: -1%;
    color: white;
}

/* gallery */
.section-3 .gallery {
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: -4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* a */
.section-3 .container-a {
    width: 25%;
    height: 100%;
}

/* div a */
.section-3 .container-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* div a 1*/
.section-3 .container-a .div-1-a {
    width: 100%;
    height: 33.3%;
    display: flex;
}

/* div a 1 vol 1 */
.section-3 .container-a .div-1-a .div-1-a-vol-1 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-1.jpg');
    background-position: center;
    background-size: cover;
    border: inset 2px solid white;
    position: relative;
    border-right: 2px solid white;
}

/* div a 1 vol 2 */
.section-3 .container-a .div-1-a .div-1-a-vol-2 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-7.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* div a 2*/
.section-3 .container-a .div-2-a {
    width: 100%;
    height: 33.3%;
    background-image: url('foto-1.jpg');
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    position: relative;
}
/* div a 3*/
.section-3 .container-a .div-3-a {
    width: 100%;
    height: 32.4%;
    display: flex;
    border: 2px solid white;
    border-top: none;
}

/* div a 3 vol 1 */
.section-3 .container-a .div-3-a .div-3-a-vol-1 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-3.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: relative;
}

/* div a 3 vol 2 */
.section-3 .container-a .div-3-a .div-3-a-vol-2 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* b */
.section-3 .container-b {
    width: 25%;
    height: 100%;
}

/* div 1 */
.section-3 .container-b .div-1-b {
    width: 100%;
    height: 66.8%;
    background-image: url('gallery-6.jpg');
    background-position: center;
    background-size: cover;
    border-left: 2px solid white;
    border-right: 2px solid white;
    position: relative;
}

/* div 2 b */
.section-3 .container-b .div-2-b {
    width: 100%;
    height: 32.3%;
    border-top: none;
    background-image: url('mawar-cream.jpg');
    background-position: center;
    background-size: cover;
    border-top: 2px solid white;
    border-left: 2px solid white;
    position: relative;
}

/* c */
.section-3 .container-c {
    width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* div 1 c */
.section-3 .container-c .div-1-c {
    width: 99%;
    height: 33.3%;
    background-image: url('gallery-4.jpg');
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-bottom: none;
    position: relative;
}

/* div 2 c */
.section-3 .container-c .div-2-c {
    width: 100%;
    height: 32.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

/* div 2 c vol 1 */
.section-3 .container-c .div-2-c .div-2-c-vol-1 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-10.jpg');
    background-position: center;
    background-size: cover;
    border-right: 2px solid white;
    position: relative;
}

/* div 2 c vol 2 */
.section-3 .gallery .container-c .div-2-c .div-2-c-vol-2 {
    width: 50%;
    height: 100%;
    background-image: url('gallery-8.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

/* div 3 c */
.section-3 .container-c .div-3-c {
    width: 100%;
    height: 32.3%;
    background-color: white;
    background-image: url('iam-2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-left: 2px solid white;
}
/* d */
.section-3 .container-d {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.section-3 .container-d .div-1-d {
    width: 98.7%;
    height: 33.3%;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    background-image: url('asya.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-3 .container-d .div-2-d {
    width: 98.7%;
    height: 65.2%;
    background-image: url('gallery-9.jpg');
    background-position: center;
    background-size: cover;
    border: 2px solid white;
    border-bottom: 3px solid white;
    position: relative;
}

.section-3 .container-d .div-2-d::before,
.section-3 .container-d .div-1-d::before,
.section-3 .container-c .div-3-c::before,
.section-3 .container-c .div-2-c .div-2-c-vol-2::before,
.section-3 .container-c .div-2-c .div-2-c-vol-1::before,
.section-3 .container-c .div-1-c::before,
.section-3 .container-b .div-2-b::before,
.section-3 .container-b .div-1-b::before,
.section-3 .container-a .div-3-a .div-3-a-vol-2::before,
.section-3 .container-a .div-3-a .div-3-a-vol-1::before,
.section-3 .container-a .div-2-a::before,
.section-3 .container-a .div-1-a .div-1-a-vol-2::before,
.section-3 .container-a .div-1-a .div-1-a-vol-1::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
    transition: .3s;
}

.section-3 .container-d .div-2-d:hover::before,
.section-3 .container-d .div-1-d:hover::before,
.section-3 .container-c .div-3-c:hover::before,
.section-3 .container-c .div-2-c .div-2-c-vol-2:hover::before,
.section-3 .container-c .div-2-c .div-2-c-vol-1:hover::before,
.section-3 .container-c .div-1-c:hover::before,
.section-3 .container-b .div-2-b:hover::before,
.section-3 .container-b .div-1-b:hover::before,
.section-3 .container-a .div-3-a .div-3-a-vol-2:hover::before,
.section-3 .container-a .div-3-a .div-3-a-vol-1:hover::before,
.section-3 .container-a .div-2-a:hover::before,
.section-3 .container-a .div-1-a .div-1-a-vol-2:hover::before,
.section-3 .container-a .div-1-a .div-1-a-vol-1:hover::before {
    cursor: pointer;
    opacity: 1;
}

/* section 4 */
.section-4 {
    width: 100%;
    height: 240vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
}

.section-4 img {
    opacity: .8;
}

.section-4 .content-3-section-4,
.section-4 .content-1-section-4 {
    width: 20%;
    height: auto;
}

.section-4 .content-3-section-4 .container-img-1,
.section-4 .content-1-section-4 .container-img-1 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.section-4 .content-3-section-4 .container-img-1 img,
.section-4 .content-1-section-4 .container-img-1 img {
    width: 80%;
    margin-top: -20%;
    margin-bottom: 23%;
}


.section-4 .content-1-section-4 .container-img-2 img {
    width: 80%;
    margin-left: -10%;
    transform: rotate(-10deg);
}


.section-4 .content-1-section-4 .container-img-3 img {
    width: 70%;
    margin-left: -10%;
    margin-top: -30%;
    transform: rotate(20deg);
}

.section-4 .content-1-section-4 .container-img-4 img {
    width: 70%;
    margin-left: -40%;
    margin-top: -40%;
    transform: rotate(20deg);
}

.section-4 .content-1-section-4 .container-img-5 img {
    width: 70%;
    margin-left: -25%;
    margin-top: 20%;
}

.section-4 .content-1-section-4 .container-img-6 img {
    width: 70%;
    margin-left: -40%;
    margin-top: -40%;
    transform: rotate(20deg);
}

.section-4 .content-1-section-4 .container-img-7 img {
    width: 70%;
    margin-left: -15%;
    margin-bottom: -90%;
    transform: rotate(30deg);
}

.section-4 .content-1-section-4 .container-img-8 {
    width: 80%;
    height: 260px;
    padding-left: 6%;
    padding-top: 5%;
    border-radius: 2%;
    margin-left: 50%;
    margin-top: 110%;
    transform: rotate(-20deg);
    position: relative;
    z-index: 2;
}

.section-4 .content-1-section-4 .container-img-8::before {
    content: "";
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 4%;
    border-radius: 2%;
    transform: rotate(-10deg);
}

.section-4 .content-1-section-4 .container-img-8::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2%;
}


.section-4 .content-1-section-4 .container-img-8 .img-container-img-8 {
    width: 95%;
    height: 70%;
    border-radius: 2%;
    background-image: url('gallery-10.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: relative;
}


/* content 3 */
.section-4 .content-3-section-4 .container-img-1 img {
    margin-bottom: 50%;
    margin-top: -95%;
    margin-left: 20%;
}

.section-4 .content-3-section-4 .container-img-2 {
    width: 70%;
    height: 230px;
    padding-left: 6%;
    padding-top: 5%;
    border-radius: 2%;
    margin-left: 35%;
    margin-top: -40%;
    transform: rotate(20deg);
    position: relative;
    z-index: 2;
}

.section-4 .content-3-section-4 .container-img-2::before {
    content: "";
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 5%;
    top: 4%;
    border-radius: 2%;
    transform: rotate(5deg);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.4);
}

.section-4 .content-3-section-4 .container-img-2::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2%;
}


.section-4 .content-3-section-4 .container-img-2 .img-container-img-2 {
    width: 95%;
    height: 70%;
    border-radius: 2%;
    background-image: url('gallery-11.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.section-4 .content-3-section-4 .container-img-3 img {
    width: 60%;
    margin-top: 5%;
    margin-left: 50%;
}

.section-4 .content-3-section-4 .container-img-4 img {
    width: 60%;
    margin-top: -20%;
    margin-left: 60%;
    transform: rotate(-30deg);
}

.section-4 .content-3-section-4 .container-img-5 img {
    width: 80%;
    margin-top: -10%;
    margin-left: 40%;
    transform: rotate(0deg);
}

.section-4 .content-3-section-4 .container-img-6 img {
    width: 120%;
}

.section-4 .content-3-section-4 .container-img-7 img {
    width: 100%;
    margin-left: 25%;
    margin-top: -40%;
    transform: rotate(-30deg);
}

/* text */
.section-4 .content-2-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10%;
}

.section-4 .content-2-section-4 .title-content-2-section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.img-title {
    width: 90%;
    position: relative;
    opacity: .9;
}

.title-content-2 {
    position: absolute;
    color: white;
    font-size: 2.7rem;
    top: 30%;
    font-family: var(--latin);
    text-shadow: 1px 2px 2px black;
}




/* timeline 1 */
.section-4 .timeline-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.section-4 .timeline-1 img {
    margin-right: 10%;
    transition: .3s;
}

.section-4 .timeline-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-1 .container-text-timeline-1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    position: relative;
}

.section-4 .timeline-1 .container-text-timeline-1::before {
    content: '->';
    font-family: var(--dm-sans);
    position: absolute;
    width: 50px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    left: -20%;
    top: 35%;
}

.section-4 .timeline-1 .container-text-timeline-1 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-1 .container-text-timeline-1 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-1 .container-text-timeline-1 p {
    font-style: italic;
    font-size: .9rem;
}

/* timeline 2 */
.section-4 .timeline-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-right: 50%;
    margin-bottom: 2%;
}

.section-4 .timeline-2 img {
    margin-left: 10%;
    order: 2;
    transition: .3s;
}

.section-4 .timeline-2 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-2 .container-text-timeline-2 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    order: 1;
    text-align: right;
    position: relative;
}

.section-4 .timeline-2 .container-text-timeline-2::before {
    content: '<-';
    font-family: var(--dm-sans);
    position: absolute;
    width: 10px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    right: -20%;
    top: 35%;
}

.section-4 .timeline-2 .container-text-timeline-2 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-2 .container-text-timeline-2 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-2 .container-text-timeline-2 p {
    font-style: italic;
    font-size: .9rem;
}

/* timeline 3 */
.section-4 .timeline-3 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-left: 40%;
    margin-bottom: 2%;
}

.section-4 .timeline-3 img {
    margin-right: 10%;
    transition: .3s;
}

.section-4 .timeline-3 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-3 .container-text-timeline-3 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    position: relative;
}

.section-4 .timeline-3 .container-text-timeline-3::before {
    content: '->';
    font-family: var(--dm-sans);
    position: absolute;
    width: 50px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    left: -20%;
    top: 35%;
}

.section-4 .timeline-3 .container-text-timeline-3 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-3 .container-text-timeline-3 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-3 .container-text-timeline-3 p {
    font-style: italic;
    font-size: .9rem;
}

/* timeline 4 */
.section-4 .timeline-4 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-right: 50%;
    margin-bottom: 2%;
}

.section-4 .timeline-4 img {
    margin-left: 10%;
    order: 2;
    transition: .3s;
}

.section-4 .timeline-4 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-4 .container-text-timeline-4 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    order: 1;
    text-align: right;
    position: relative;
}

.section-4 .timeline-4 .container-text-timeline-4::before {
    content: '<-';
    font-family: var(--dm-sans);
    position: absolute;
    width: 10px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    right: -20%;
    top: 35%;
}

.section-4 .timeline-4 .container-text-timeline-4 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-4 .container-text-timeline-4 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-4 .container-text-timeline-4 p {
    font-style: italic;
    font-size: .9rem;
}

/* timeline 5 */
.section-4 .timeline-5 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-left: 40%;
    margin-bottom: 2%;
}

.section-4 .timeline-5 img {
    margin-right: 10%;
    transition: .3s;
}

.section-4 .timeline-5 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-5 .container-text-timeline-5 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    position: relative;
}

.section-4 .timeline-5 .container-text-timeline-5::before {
    content: '->';
    font-family: var(--dm-sans);
    position: absolute;
    width: 50px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    left: -20%;
    top: 35%;
}

.section-4 .timeline-5 .container-text-timeline-5 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-5 .container-text-timeline-5 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-5 .container-text-timeline-5 p {
    font-style: italic;
    font-size: .9rem;
}

/* timeline 6 */
.section-4 .timeline-6 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-right: 50%;
    margin-bottom: 2%;
}

.section-4 .timeline-6 img {
    margin-left: 10%;
    order: 2;
    transition: .3s;
}

.section-4 .timeline-6 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-6 .container-text-timeline-6 {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    order: 1;
    text-align: right;
    position: relative;
}

.section-4 .timeline-6 .container-text-timeline-6::before {
    content: '<-';
    font-family: var(--dm-sans);
    position: absolute;
    width: 10px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    right: -20%;
    top: 25%;
}

.section-4 .timeline-6 .container-text-timeline-6 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-6 .container-text-timeline-6 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-6 .container-text-timeline-6 p {
    font-style: italic;
    font-size: .9rem;
}


/* timeline 7 */
.section-4 .timeline-7 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin-left: 37%;
    margin-bottom: -3%;
}

.section-4 .timeline-7 img {
    margin-right: 10%;
    transition: .3s;
}

.section-4 .timeline-7 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-4 .timeline-7 .container-text-timeline-7 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40%;
    font-family: var(--latin);
    position: relative;
}

.section-4 .timeline-7 .container-text-timeline-7::before {
    content: '->';
    font-family: var(--dm-sans);
    position: absolute;
    width: 50px;
    height: 10px;
    color: var(--orange);
    font-size: 1rem;
    z-index: 3;
    left: -15%;
    top: 25%;
}

.section-4 .timeline-7 .container-text-timeline-7 h5 {
    font-family: var(--dm-sans);
    padding-bottom: 2%;
    color: var(--orange);
}

.section-4 .timeline-7 .container-text-timeline-7 h3 {
    font-style: italic;
    padding-bottom: 2%;
}

.section-4 .timeline-7 .container-text-timeline-7 p {
    font-style: italic;
    font-size: .8rem;
}

/* section 5 */
.section-5 {
    background-color: whitesmoke;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-5 .content-1-section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-5 .content-1-section-5 .icon-content-1-section-5 {
    padding: 3.5%;
    border-radius: 50px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.section-5 .content-1-section-5 h3 {
    font-family: var(--latin);
    margin-bottom: 4%;
}

.section-5 .content-1-section-5 h4 {
    font-family: var(--latin);
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 4%;
    font-size: .7rem;
}

.section-5 .content-1-section-5 h4::before {
    content: "";
    position: absolute;
    width: 150%;
    height: .1px;
    background-color: black;
    top: -30%;
}

.section-5 .content-1-section-5 h4::after {
    content: "";
    position: absolute;
    width: 150%;
    height: .1px;
    background-color: black;
    bottom: -30%;
}

.section-5 .content-1-section-5 .p-1-content-1-section-5 {
    font-weight: bold;
    font-size: .8rem;
    font-family: var(--dm-sans);
    margin-bottom: 1%;
}

.section-5 .content-1-section-5 .p-2-content-1-section-5 {
    font-weight: bold;
    font-size: .8rem;
    font-family: var(--dm-sans);
    margin-bottom: 2%;
}

.section-5 .content-1-section-5 .p-3-content-1-section-5 {
    font-size: .7rem;
    font-family: var(--popins);
    text-align: center;
    width: 70%;
}

/* content 3 */
.section-5 .content-3-section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-5 .content-3-section-5 .icon-content-3-section-5 {
    padding: 3.5%;
    border-radius: 50px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.section-5 .content-3-section-5 h3 {
    font-family: var(--latin);
    margin-bottom: 4%;
}

.section-5 .content-3-section-5 h4 {
    font-family: var(--latin);
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 4%;
    font-size: .7rem;
}

.section-5 .content-3-section-5 h4::before {
    content: "";
    position: absolute;
    width: 150%;
    height: .1px;
    background-color: black;
    top: -30%;
}

.section-5 .content-3-section-5 h4::after {
    content: "";
    position: absolute;
    width: 150%;
    height: .1px;
    background-color: black;
    bottom: -30%;
}

.section-5 .content-3-section-5 .p-1-content-3-section-5 {
    font-weight: bold;
    font-size: .8rem;
    font-family: var(--dm-sans);
    margin-bottom: 1%;
}

.section-5 .content-3-section-5 .p-2-content-3-section-5 {
    font-weight: bold;
    font-size: .8rem;
    font-family: var(--dm-sans);
    margin-bottom: 2%;
}

.section-5 .content-3-section-5 .p-3-content-3-section-5 {
    font-size: .7rem;
    font-family: var(--popins);
    text-align: center;
    width: 70%;
}

/* content 3 */
.section-5 .content-2-section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: red;
    margin-top: -5%;
    z-index: 1;
}


.section-5 .content-2-section-5 iframe {
    width: 100%;
    height: 100%;
}

/* section 6 */
.section-6 {
    width: 100%;
    height: 110vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2.5%;
    overflow: hidden;
}

.section-6 .content-1-section-6  {
    width: 100%;
    height: 15%;
    background-image: url("background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 .content-1-section-6::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 0;
}

.section-6 .content-1-section-6 .p-1-content-1-section-6 {
    color: white;
    z-index: 1;
    position: relative;
    font-family: var(--popins);
    font-size: .7rem;
    margin-right: 10%;
}

.section-6 .content-1-section-6 .p-1-content-1-section-6 span {
    color: rgb(255, 132, 9);
}

.section-6 .content-1-section-6 .tombol-contact-section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 8%;
    background-color: rgb(255, 132, 9);
    border-radius: 50px;
    position: relative;
    gap: 10%;
    transition: .3s;
}

.section-6 .content-1-section-6 .tombol-contact-section-6:hover {
    cursor: pointer;
    transform: scale(.9);
}

.section-6 .content-1-section-6 .tombol-contact-section-6 svg {
    color: white;
    width: 12%;
    position: relative;
    z-index: 1;
}

.section-6 .content-1-section-6 .tombol-contact-section-6 p {
    color: white;
    font-family: var(--popins);
    font-size: .7rem;
}


/* content 2 */
.section-6 .content-2-section-6 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 60px 60px 60px;
}

.section-6 .content-2-section-6 div {
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.section-6 .content-2-section-6  .img-1 {
    background-image: url('person-1.jpg');
}
.section-6 .content-2-section-6  .img-2 {
    background-image: url('person-2.jpg');
}
.section-6 .content-2-section-6  .img-3 {
    background-image: url('person-3.jpg');
}
.section-6 .content-2-section-6  .img-4 {
    background-image: url('person-4.jpg');
}
.section-6 .content-2-section-6  .img-5 {
    background-image: url('person-5.jpg');
}
.section-6 .content-2-section-6  .img-6 {
    background-image: url('person-6.jpg');
}
.section-6 .content-2-section-6  .img-7 {
    background-image: url('person-7.jpg');
}
.section-6 .content-2-section-6  .img-8 {
    background-image: url('person-8.jpg');
}
.section-6 .content-2-section-6  .img-9 {
    background-image: url('person-9.jpg');
}
.section-6 .content-2-section-6  .img-10 {
    background-image: url('person-10.jpg');
}
.section-6 .content-2-section-6  .img-11 {
    background-image: url('person-11.jpg');
}
.section-6 .content-2-section-6  .img-12 {
    background-image: url('person-12.jpg');
}
.section-6 .content-2-section-6  .img-13 {
    background-image: url('person-13.jpg');
}
.section-6 .content-2-section-6  .img-14 {
    background-image: url('person-14.jpg');
}
.section-6 .content-2-section-6  .img-15 {
    background-image: url('person-15.jpg');
} 
.section-6 .content-2-section-6  .img-16 {
    background-image: url('person-16.jpg');
}

.section-6 .content-2-section-6  .img-17 {
    background-image: url('person-18.jpg');
}
.section-6 .content-2-section-6  .img-18 {
    background-image: url('person-12.jpg');
}
.section-6 .content-2-section-6  .img-19 {
    background-image: url('person-17.jpg');
}
.section-6 .content-2-section-6  .img-20 {
    background-image: url('person-14.jpg');
}
.section-6 .content-2-section-6  .img-21 {
    background-image: url('person-15.jpg');
}
.section-6 .content-2-section-6  .img-22 {
    background-image: url('person-16.jpg');
}
.section-6 .content-2-section-6  .img-23 {
    background-image: url('person-17.jpg');
}
.section-6 .content-2-section-6  .img-24 {
    background-image: url('person-2.jpg');
}
.section-6 .content-2-section-6  .img-25 {
    background-image: url('person-4.jpg');
}
.section-6 .content-2-section-6  .img-26 {
    background-image: url('person-11.jpg');
}
.section-6 .content-2-section-6  .img-27 {
    background-image: url('person-9.jpg');
}
.section-6 .content-2-section-6  .img-28 {
    background-image: url('person-3.jpg');
}
.section-6 .content-2-section-6  .img-29 {
    background-image: url('person-9.jpg');
}
.section-6 .content-2-section-6  .img-30 {
    background-image: url('person-19.jpg');
}
.section-6 .content-2-section-6  .img-31 {
    background-image: url('person-13.jpg');
} 
.section-6 .content-2-section-6  .img-32 {
    background-image: url('person-12.jpg');
}

.section-6 .content-2-section-6  .img-33 {
    background-image: url('person-2.jpg');
}
.section-6 .content-2-section-6  .img-34 {
    background-image: url('person-5.jpg');
}
.section-6 .content-2-section-6  .img-35 {
    background-image: url('person-9.jpg');
}
.section-6 .content-2-section-6  .img-36 {
    background-image: url('person-4.jpg');
}
.section-6 .content-2-section-6  .img-37 {
    background-image: url('person-17.jpg');
}
.section-6 .content-2-section-6  .img-38 {
    background-image: url('person-19.jpg');
}
.section-6 .content-2-section-6  .img-39 {
    background-image: url('person-12.jpg');
}
.section-6 .content-2-section-6  .img-40 {
    background-image: url('person-16.jpg');
}
.section-6 .content-2-section-6  .img-41 {
    background-image: url('person-15.jpg');
}
.section-6 .content-2-section-6  .img-42 {
    background-image: url('person-14.jpg');
}
.section-6 .content-2-section-6  .img-43 {
    background-image: url('person-19.jpg');
}
.section-6 .content-2-section-6  .img-44 {
    background-image: url('person-8.jpg');
}
.section-6 .content-2-section-6  .img-45 {
    background-image: url('person-7.jpg');
}
.section-6 .content-2-section-6  .img-46 {
    background-image: url('person-10.jpg');
}
.section-6 .content-2-section-6  .img-47 {
    background-image: url('person-6.jpg');
} 
.section-6 .content-2-section-6  .img-48 {
    background-image: url('person-9.jpg');
}
/* bayangan */
.section-6 .content-2-section-6  .img-1,
.section-6 .content-2-section-6  .img-2,
.section-6 .content-2-section-6  .img-3,
.section-6 .content-2-section-6  .img-4,
.section-6 .content-2-section-6  .img-5,
.section-6 .content-2-section-6  .img-6,
.section-6 .content-2-section-6  .img-7,
.section-6 .content-2-section-6  .img-8,
.section-6 .content-2-section-6  .img-9,
.section-6 .content-2-section-6  .img-10,
.section-6 .content-2-section-6  .img-11,
.section-6 .content-2-section-6  .img-12,
.section-6 .content-2-section-6  .img-13,
.section-6 .content-2-section-6  .img-14,
.section-6 .content-2-section-6  .img-15,
.section-6 .content-2-section-6  .img-16,
.section-6 .content-2-section-6  .img-17,
.section-6 .content-2-section-6  .img-18,
.section-6 .content-2-section-6  .img-19,
.section-6 .content-2-section-6  .img-20,
.section-6 .content-2-section-6  .img-21,
.section-6 .content-2-section-6  .img-22,
.section-6 .content-2-section-6  .img-23,
.section-6 .content-2-section-6  .img-24,
.section-6 .content-2-section-6  .img-25,
.section-6 .content-2-section-6  .img-26,
.section-6 .content-2-section-6  .img-27,
.section-6 .content-2-section-6  .img-28,
.section-6 .content-2-section-6  .img-29,
.section-6 .content-2-section-6  .img-30,
.section-6 .content-2-section-6  .img-31,
.section-6 .content-2-section-6  .img-32,
.section-6 .content-2-section-6  .img-33,
.section-6 .content-2-section-6  .img-34,
.section-6 .content-2-section-6  .img-35,
.section-6 .content-2-section-6  .img-36,
.section-6 .content-2-section-6  .img-37,
.section-6 .content-2-section-6  .img-38,
.section-6 .content-2-section-6  .img-39,
.section-6 .content-2-section-6  .img-40,
.section-6 .content-2-section-6  .img-41,
.section-6 .content-2-section-6  .img-42,
.section-6 .content-2-section-6  .img-43,
.section-6 .content-2-section-6  .img-44,
.section-6 .content-2-section-6  .img-45,
.section-6 .content-2-section-6  .img-46,
.section-6 .content-2-section-6  .img-47,
.section-6 .content-2-section-6  .img-48 {
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.3),
                inset -5px -5px 20px rgba(0, 0, 0, 0.3),
                inset 5px -5px 20px rgba(0, 0, 0, 0.3),
                inset -5px 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

/* bayangan ketika di klik*/
.section-6 .content-2-section-6  .img-2::before,
.section-6 .content-2-section-6  .img-3::before,
.section-6 .content-2-section-6  .img-4::before,
.section-6 .content-2-section-6  .img-5::before,
.section-6 .content-2-section-6  .img-6::before,
.section-6 .content-2-section-6  .img-7::before,
.section-6 .content-2-section-6  .img-8::before,
.section-6 .content-2-section-6  .img-9::before,
.section-6 .content-2-section-6  .img-10::before,
.section-6 .content-2-section-6  .img-11::before,
.section-6 .content-2-section-6  .img-12::before,
.section-6 .content-2-section-6  .img-13::before,
.section-6 .content-2-section-6  .img-14::before,
.section-6 .content-2-section-6  .img-15::before,
.section-6 .content-2-section-6  .img-18::before,
.section-6 .content-2-section-6  .img-19::before,
.section-6 .content-2-section-6  .img-20::before,
.section-6 .content-2-section-6  .img-21::before,
.section-6 .content-2-section-6  .img-23::before,
.section-6 .content-2-section-6  .img-24::before,
.section-6 .content-2-section-6  .img-25::before,
.section-6 .content-2-section-6  .img-26::before,
.section-6 .content-2-section-6  .img-27::before,
.section-6 .content-2-section-6  .img-28::before,
.section-6 .content-2-section-6  .img-29::before,
.section-6 .content-2-section-6  .img-30::before,
.section-6 .content-2-section-6  .img-31::before,
.section-6 .content-2-section-6  .img-34::before,
.section-6 .content-2-section-6  .img-35::before,
.section-6 .content-2-section-6  .img-36::before,
.section-6 .content-2-section-6  .img-37::before,
.section-6 .content-2-section-6  .img-38::before,
.section-6 .content-2-section-6  .img-39::before,
.section-6 .content-2-section-6  .img-40::before,
.section-6 .content-2-section-6  .img-41::before,
.section-6 .content-2-section-6  .img-42::before,
.section-6 .content-2-section-6  .img-43::before,
.section-6 .content-2-section-6  .img-44::before,
.section-6 .content-2-section-6  .img-45::before,
.section-6 .content-2-section-6  .img-46::before,
.section-6 .content-2-section-6  .img-47::before{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: .2s;
}

.section-6 .content-2-section-6  .img-2:hover::before,
.section-6 .content-2-section-6  .img-3:hover::before,
.section-6 .content-2-section-6  .img-4:hover::before,
.section-6 .content-2-section-6  .img-5:hover::before,
.section-6 .content-2-section-6  .img-6:hover::before,
.section-6 .content-2-section-6  .img-7:hover::before,
.section-6 .content-2-section-6  .img-8:hover::before,
.section-6 .content-2-section-6  .img-9:hover::before,
.section-6 .content-2-section-6  .img-10:hover::before,
.section-6 .content-2-section-6  .img-11:hover::before,
.section-6 .content-2-section-6  .img-12:hover::before,
.section-6 .content-2-section-6  .img-13:hover::before,
.section-6 .content-2-section-6  .img-14:hover::before,
.section-6 .content-2-section-6  .img-15:hover::before,
.section-6 .content-2-section-6  .img-18:hover::before,
.section-6 .content-2-section-6  .img-19:hover::before,
.section-6 .content-2-section-6  .img-20:hover::before,
.section-6 .content-2-section-6  .img-21:hover::before,
.section-6 .content-2-section-6  .img-23:hover::before,
.section-6 .content-2-section-6  .img-24:hover::before,
.section-6 .content-2-section-6  .img-25:hover::before,
.section-6 .content-2-section-6  .img-26:hover::before,
.section-6 .content-2-section-6  .img-27:hover::before,
.section-6 .content-2-section-6  .img-28:hover::before,
.section-6 .content-2-section-6  .img-29:hover::before,
.section-6 .content-2-section-6  .img-30:hover::before,
.section-6 .content-2-section-6  .img-31:hover::before,
.section-6 .content-2-section-6  .img-34:hover::before,
.section-6 .content-2-section-6  .img-35:hover::before,
.section-6 .content-2-section-6  .img-36:hover::before,
.section-6 .content-2-section-6  .img-37:hover::before,
.section-6 .content-2-section-6  .img-38:hover::before,
.section-6 .content-2-section-6  .img-39:hover::before,
.section-6 .content-2-section-6  .img-40:hover::before,
.section-6 .content-2-section-6  .img-41:hover::before,
.section-6 .content-2-section-6  .img-42:hover::before,
.section-6 .content-2-section-6  .img-43:hover::before,
.section-6 .content-2-section-6  .img-44:hover::before,
.section-6 .content-2-section-6  .img-45:hover::before,
.section-6 .content-2-section-6  .img-46:hover::before,
.section-6 .content-2-section-6  .img-47:hover::before{
    cursor: pointer;
    opacity: 1;
}

.section-6 .content-2-section-6 .img-1,
.section-6 .content-2-section-6 .img-16,
.section-6 .content-2-section-6 .img-17,
.section-6 .content-2-section-6 .img-22,
.section-6 .content-2-section-6 .img-32,
.section-6 .content-2-section-6 .img-33,
.section-6 .content-2-section-6 .img-48 {
    position: relative;
    filter: none;
    -webkit-filter: none;
}

.section-6 .content-2-section-6 .img-1::before,
.section-6 .content-2-section-6 .img-16::before,
.section-6 .content-2-section-6 .img-17::before,
.section-6 .content-2-section-6 .img-22::before,
.section-6 .content-2-section-6 .img-32::before,
.section-6 .content-2-section-6 .img-33::before,
.section-6 .content-2-section-6 .img-48::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 132, 9, 0.6);
    fill: none;
    transition: .2s;
}

.section-6 .content-2-section-6 .img-1:hover::before,
.section-6 .content-2-section-6 .img-16:hover::before,
.section-6 .content-2-section-6 .img-17:hover::before,
.section-6 .content-2-section-6 .img-22:hover::before,
.section-6 .content-2-section-6 .img-32:hover::before,
.section-6 .content-2-section-6 .img-33:hover::before,
.section-6 .content-2-section-6 .img-48:hover::before {
    cursor: pointer;
    opacity: .5;
}

.section-6 .content-2-section-6 .img-22::after {
    content: ',,';
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5rem;
    font-family: var(--lato);
    font-weight: 900;
    transform: rotate(180deg);
    text-align: center;
    bottom: -80%;
}



.section-6 .content-3-section-6 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.section-6 .content-3-section-6 .vol-2 {
    margin-right: -100%;
    background-color: green;
    transition: .3s;
}

.section-6 .content-3-section-6 .vol-1 {
    margin-left: -100%;
    background-color: rgb(171, 170, 170);
    transition: .3s;
}

.section-6 .content-3-section-6 .vol-2.vol-active {
    margin-right: 0%;
}

.section-6 .content-3-section-6 .vol-1.vol-active {
    margin-left: 0%;
}

.section-6 .content-3-section-6 .vol-2,
.section-6 .content-3-section-6 .vol-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

/* prev */
.section-6 .content-3-section-6 .prev {
    position: absolute;
    left: 0;
    z-index: 3;
}

.section-6 .content-3-section-6 .prev svg:hover {
    transform: scale(1.4);
}


.section-6 .content-3-section-6 .prev svg {
    width: 5%;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

/* next */
.section-6 .content-3-section-6 .next {
    position: absolute;
    right: 0%;
    display: flex;
    align-items: end;
    justify-content: end;
    z-index: 3;
}

.section-6 .content-3-section-6 .next svg:hover {
    transform: scale(1.4);
}

.section-6 .content-3-section-6 .next svg {
    width: 5%;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

.section-6 .content-3-section-6 .vol-2 .h-1-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .h-1-content-3-section-6 {
    color: rgb(29, 28, 28);
    font-size: 5rem;
    font-family: var(--lato);
    font-style: italic;
    transform: rotate(180deg);
    z-index: 1;
    margin-top: -3%;
    
}

.section-6 .content-3-section-6 .vol-2 .a-1-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .a-1-content-3-section-6 {
    z-index: 2;
    font-family: var(--popins);
    font-size: .8rem;
    position: relative;
    margin-bottom: 1%;
    margin-top: -4%;
    font-style: italic;
}

.section-6 .content-3-section-6 .vol-2 .a-1-content-3-section-6::before,
.section-6 .content-3-section-6 .vol-1 .a-1-content-3-section-6::before {
    content: '@';
    position: absolute;
    color: black;
    left: -40%;
    font-size: .8rem;
    top: -5%;
    font-style: italic;
}

.section-6 .content-3-section-6 .vol-2 .p-1-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .p-1-content-3-section-6 {
    width: 60%;
    text-align: center;
    line-height: 170%;
    margin-bottom: .5%;
    font-size: .8rem;
    font-family: var(--popins);
    font-style: italic;
}

.section-6 .content-3-section-6 .vol-2 .a-2-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .a-2-content-3-section-6 {
    font-size: .8rem;
    margin-bottom: .3%;
    font-family: var(--popins);
    font-style: italic;
}

.section-6 .content-3-section-6 .vol-2 .a-3-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .a-3-content-3-section-6 {
    font-size: .8rem;
    margin-bottom: 2%;
    font-family: var(--popins);
    font-style: italic;
}

.section-6 .content-3-section-6 .vol-2 .p-2-content-3-section-6,
.section-6 .content-3-section-6 .vol-1 .p-2-content-3-section-6 {
    font-size: .7rem;
    font-family: var(--popins);
    font-weight: bold;
}

/* section 7 */
.section-7 {
    width: 100%;
    height: 160vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-7 form {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */
.section-7 form .title-section-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgb(29, 28, 28);
    margin-top: -8%;
    z-index: 2;
}

.section-7 form .title-section-7 h3 {
    font-size: 1.8rem;
    font-family: var(--pacifico);
    color: white;
    font-style: italic;
    font-weight: bold;
}


/* bingkai luar */
.section-7 form .content-1-section-7 {
    width: 40rem;
    height: 40rem;
    background-image: url("bingkai-3.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}
/* bingkai dalam */
.section-7 form .content-1-section-7 .bingkai {
    width: 27rem;
    height: 27rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.section-7 form .content-1-section-7 .bingkai::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("bingkai-4.png");
    background-position: center;
    background-size: 33rem;
    transform: rotate(90deg);
    opacity: .3;
    z-index: 1;
}

.section-7 form .content-1-section-7 .bingkai .h2-1-bingkai {
    font-size: .9rem;
    font-family: var(--popins);
    z-index: 2;
    margin-top: -3%;
}

.section-7 form .content-1-section-7 .bingkai .p-1-bingkai {
    font-size: .8rem;
    font-family: var(--latin);
    font-style: italic;
    margin-top: 1%;
    z-index: 2;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8%;
    margin-bottom: 8%;
    z-index: 2;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai::before {
    content: " ";
    position: absolute;
    width: 145%;
    height: 1.2px;
    background-color: black;
    top: -35%;
    opacity: .4;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai::after {
    content: " ";
    position: absolute;
    width: 145%;
    height: 1.2px;
    background-color: black;
    bottom: -35%;
    opacity: .4;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai .nama-1 {
    font-family: var(--latin);
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 5px;
    z-index: 2;
    padding-right: 10%;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai .dan-bingkai {
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-family: var(--lato);
    font-style: italic;
    font-weight: 300;
    z-index: 2;
}

.section-7 form .content-1-section-7 .bingkai .nama-bingkai .nama-2 {
    font-family: var(--latin);
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 5px;
    padding-left: 10%;
}

/* input 1*/

.section-7 form .content-1-section-7 .bingkai .forum-bingkai .input-1-bingkai {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7 form .content-1-section-7 .bingkai .forum-bingkai .input-1-bingkai input:first-child{
    padding: 8px;
    outline: none;
    font-size: .6rem;
    font-family: var(--popins);
    margin-right: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.section-7 form .content-1-section-7 .bingkai .forum-bingkai .input-1-bingkai input:nth-child(2){
    padding: 8px;
    outline: none;
    font-size: .6rem;
    font-family: var(--popins);
    border: 1px solid rgba(0, 0, 0, 0.3);
}


/* input 2 */

.section-7 form .content-1-section-7 .bingkai .input-2-bingkai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.section-7 form .content-1-section-7 .bingkai .input-2-bingkai label {
    font-size: .7rem;
    font-family: var(--popins);
    font-weight: 500;
}


.section-7 form .content-1-section-7 .bingkai .input-2-bingkai input {
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.section-7 form .content-1-section-7 .bingkai .footer-bingkai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.section-7 form .content-1-section-7 .bingkai .footer-bingkai h4 {
    font-family: var(--popins);
    font-weight: 600;
}

.section-7 form .content-1-section-7 .bingkai .footer-bingkai .teks-bingkai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.section-7 form .content-1-section-7 .bingkai .footer-bingkai .teks-bingkai p {
    font-size: .6rem;
    margin-right: 3%;
    margin-left: 3%;
    font-family: var(--popins);
}

.section-7 form .content-1-section-7 .bingkai .footer-bingkai .teks-bingkai svg {
    width: 2%;
}

.section-7 form .content-2-section-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-7 form .content-2-section-7 textarea {
    padding: .7rem;
    font-family: var(--dm-sans);
    outline: none;
    margin-bottom: 10%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.section-7 form .content-2-section-7 button {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 3%;
    padding-left: 4.5%;
    padding-right: 4.5%;
    border-radius: 100px;
    background-color: rgb(29, 28, 28);
    color: white;
    font-size: .7rem;
    letter-spacing: 1px;
    font-family: var(--popins);
    font-weight: bold;
    transition: .3s;
}

.section-7 form .content-2-section-7 button:hover {
    cursor: pointer;
    transform: scale(.8);
}